# METHODOLOGIES I : Data Acquisition
 ##   (A). Classifications

In [1]:
import pandas as pd
from pydataset import data

from acquire import get_titanic_data
from acquire import get_iris_data
from acquire import get_telco_data
import env

NOTE: Exercise Number 1 - 4 are all github setup
---------------------------------------------------------

## (4). In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [77]:
df_iris = pd.DataFrame(data('iris'))
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [78]:
# Rows & Columns
df_iris.shape

(150, 5)

In [79]:
# Columns
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [80]:
# Columns DataTypes
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [81]:
# Numeric Summary
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## (5). Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

-  Make sure that the spreadsheet is publicly visible under your sharing settings.

In [82]:
url = 'https://docs.google.com/spreadsheets/d/13mVTE4FD048lF84rWBCm1LfMHddA6gqivf0PhTaylB8/edit?usp=sharing'

export_url = url.replace('/edit?usp=','/export?format=csv#gid=')

df_google_sheets = pd.read_csv(export_url)

df_google_sheets.head()

,Unnamed: 0,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,tenure,churn,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,pather_dependants,average_montly_charges
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,9.044207,No,True,False,True,True,True,3,329.450
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,9.055092,No,False,False,True,True,True,0,301.150
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,3.800406,Yes,False,True,True,True,True,0,177.375
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,12.631122,Yes,False,True,True,True,True,1,667.925
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,3.187128,Yes,True,True,True,True,True,1,175.650

In [83]:
# From local directory file

# df_google_sheets = pd.read_csv('~/Documents/Table1_CustDetails.csv')
# df_google_sheets.head()

-  Assign the first 100 rows to a new dataframe, df_excel_sample

In [84]:
df_excel_sample = df_google_sheets.head(100)
df_excel_sample

,Unnamed: 0,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,tenure,churn,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,pather_dependants,average_montly_charges
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,9.044207,No,True,False,True,True,True,3,329.450
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,9.055092,No,False,False,True,True,True,0,301.150
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,3.800406,Yes,False,True,True,True,True,0,177.375
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,12.631122,Yes,False,True,True,True,True,1,667.925
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,3.187128,Yes,True,True,True,True,True,1,175.650
5,0013-MHZWF,Female,0,No,Yes,1,1,0,Credit card (automatic),69.40,571.45,8.234150,No,True,False,True,True,True,2,320.425
6,0013-SMEOE,Female,1,Yes,No,1,2,2,Bank transfer (automatic),109.70,7904.25,72.053327,No,True,False,True,True,True,1,4006.975
7,0014-BMAQU,Male,0,Yes,No,2,2,2,Credit card (automatic),84.65,5377.80,63.529829,No,False,False,True,True,True,1,2731.225
8,0015-UOCOJ,Female,1,No,No,1,1,0,Electronic check,48.20,340.35,7.061203,No,True,False,True,True,True,0,194.275
9,0016-QLJIS,Female,0,Yes,Yes,2,1,2,Mailed check,90.45,5957.90,65.869541,No,True,False,True,True,True,3,3024.175
10,0017-DINOC,Male,0,No,No,0,1,2,Credit card (automatic),45.20,2460.55,54.436947,No,False,False,False,True,False,0,1252.875
11,0017-IUDMW,Female,0,Yes,Yes,2,2,2,Credit card (automatic),116.80,8456.75,72.403682,No,True,False,True,True,True,3,4286.775
12,0018-NYROU,Female,0,Yes,No,1,2,0,Electronic check,68.95,351.50,5.097897,No,True,False,True,True,True,1,210.225
13,0019-EFAEP,Female,0,No,No,2,2,2,Bank transfer (automatic),101.30,7261.25,71.680652,No,True,False,True,True,True,0,3681.275
14,0019-GFNTW,Female,0,No,No,0,1,2,Bank transfer (automatic),45.05,2560.10,56.827969,No,True,False,False,True,False,0,1302.575
15,0020-INWCK,Female,0,Yes,Yes,2,2,2,Credit card (automatic),95.75,6849.40,71.534204,No,True,False,True,True,True,3,3472.575
16,0020-JDNXP,Female,0,Yes,Yes,0,1,1,Mailed check,61.25,1993.20,32.542041,No,True,False,False,True,False,3,1027.225
17,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,72.10,72.10,1.000000,No,True,False,True,True,True,0,72.100
18,0022-TCJCI,Male,1,No,No,1,1,1,Credit card (automatic),62.70,2791.50,44.521531,Yes,False,True,True,True,True,0,1427.100
19,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,25.10,25.10,1.000000,Yes,False,True,False,True,False,0,25.100
20,0023-UYUPN,Female,1,Yes,No,2,0,1,Electronic check,25.20,1306.30,51.837302,No,True,False,True,False,False,1,665.750
21,0023-XUOPT,Female,0,Yes,No,2,2,0,Electronic check,94.10,1215.60,12.918172,Yes,True,True,True,True,True,1,654.850
22,0027-KWYKW,Female,0,Yes,Yes,2,2,0,Electronic check,83.75,1849.95,22.088955,No,True,False,True,True,True,3,966.850
23,0030-FNXPP,Female,0,No,No,1,0,0,Mailed check,19.85,57.20,2.881612,No,True,False,True,False,False,0,38.525
24,0031-PVLZI,Female,0,Yes,Yes,1,0,0,Mailed check,20.35,76.35,3.751843,Yes,True,True,True,False,False,3,48.350
25,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer (automatic),30.50,30.50,1.000000,Yes,True,True,False,True,False,3,30.500
26,0036-IHMOT,Female,0,Yes,Yes,1,2,1,Bank transfer (automatic),103.70,5656.75,54.549180,No,True,False,True,True,True,3,2880.225
27,0040-HALCW,Male,0,Yes,Yes,1,0,2,Credit card (automatic),20.40,1090.60,53.460784,No,False,False,True,False,False,3,555.500
28,0042-JVWOJ,Male,0,No,No,1,0,1,Bank transfer (automatic),19.60,471.85,24.073980,No,False,False,True,False,False,0,245.725
29,0042-RLHYP,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),19.70,1396.90,70.908629,No,True,False,True,False,False,3,708.300
30,0048-LUMLS,Male,0,Yes,Yes,1,2,1,Credit card (automatic),91.20,3247.55,35.609101,No,False,False,True,True,True,3,1669.375
31,0048-PIHNL,Female,0,Yes,No,1,0,1,Bank transfer (automatic),20.45,900.90,44.053790,No,True,False,True,False,False,1,460.675
32,0052-DCKON,Male,0,Yes,No,2,2,1,Bank transfer (automatic),115.80,7942.15,68.585060,No,False,False,True,True,True,1,4028.975
33,0052-YNYOT,Female,0,No,No,1,0,1,Electronic check,20.55,1343.40,65.372263,No,True,False,True,False,False,0,681.975
34,0056-EPFBG,Male,0,Yes,Yes,0,1,2,Credit card (automatic),39.40,825.40,20.949239,No,False,False,False,True,False,3,432.400
35,0057-QBUQH,Female,0,No,Yes,2,0,2,Electronic check,25.10,1070.15,42.635458,No,True,False,True,False,False,2,547.625
36,0058-EVZWM,Female,0,Yes,No,2,2,0,Bank transfer (automatic),89.80,4959.60,55.229399,No,True,False,True,True,True,1,2524.700
37,0060-FUALY,Female,0,Yes,No,2,2,0,Electronic check,94.75,5597.65,59.078100,No,True,False,True,True,True,1,2846.200
38,0064-SUDOG,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),20.30,224.50,11.059113,No,True,False,True,False,False,3,122.400
39,0064-YIJGF,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),75.75,1929.00,25.465347,No,False,False,True,True,True,3,1002.375
40,0067-DKWBL,Male,1,No,No,1,1,0,Electronic check,49.25,91.10,1.849746,Yes,False,True,True,True,True,0,70.175
41,0068-FIGTF,Female,0,No,No,1,1,1,Mailed check,78.20,2078.95,26.585038,No,True,False,True,True,True,0,1078.575
42,0071-NDAFP,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.50,630.60,24.729412,No,False,False,True,False,False,3,328.050
43,0074-HDKDG,Male,0,Yes,Yes,1,1,1,Bank transfer (automatic),61.60,1611.00,26.152597,No,False,False,True,True,True,3,836.300
44,0076-LVEPS,Male,0,No,Yes,0,1,0,Mailed check,45.00,1242.45,27.610000,No,False,False,False,True,False,2,643.725
45,0078-XZMHT,Male,0,Yes,No,2,1,2,Bank transfer (automatic),85.15,6316.20,74.177334,No,False,False,True,True,True,1,3200.675
46,0080-EMYVY,Female,0,No,No,1,1,1,Credit card (automatic),51.45,727.85,14.146744,No,True,False,True,True,True,0,389.650
47,0080-OROZO,Female,0,No,No,1,2,1,Electronic check,99.25,3532.00,35.586902,No,True,False,True,True,True,0,1815.625
48,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,44.30,44.30,1.000000,No,False,False,True,True,True,0,44.300
49,0082-OQIQY,Male,0,No,No,1,2,0,Electronic check,94.20,2607.60,27.681529,No,False,False,True,True,True,0,1350.900
50,0083-PIVIK,Male,0,No,No,2,1,1,Electronic check,81.25,5567.55,68.523692,No,False,False,True,True,True,0,2824.400
51,0089-IIQKO,Female,0,Yes,Yes,2,2,0,Credit card (automatic),99.95,3767.40,37.692846,No,True,False,True,True,True,3,1933.675
52,0093-EXYQL,Female,1,No,No,1,2,0,Electronic check,91.55,3673.60,40.126707,No,True,False,True,True,True,0,1882.575
53,0093-XWZFY,Male,0,No,No,2,2,0,Credit card (automatic),104.50,4036.85,38.630144,Yes,False,True,True,True,True,0,2070.675
54,0094-OIFMO,Female,1,No,No,1,2,0,Electronic check,95.00,1120.30,11.792632,Yes,True,True,True,True,True,0,607.650
55,0096-BXERS,Female,0,Yes,No,2,1,0,Electronic check,50.35,314.55,6.247269,No,True,False,True,True,True,1,182.450
56,0096-FCPUF,Male,0,No,No,2,1,0,Mailed check,64.50,1888.45,29.278295,No,False,False,True,True,True,0,976.475
57,0098-BOWSO,Male,0,No,No,1,0,0,Electronic check,19.40,529.80,27.309278,No,False,False,True,False,False,0,274.600
58,0100-DUVFC,Male,1,Yes,No,2,2,1,Electronic check,104.80,7308.95,69.741889,No,False,False,True,True,True,1,3706.875
59,0103-CSITQ,Female,0,Yes,No,2,2,1,Bank transfer (automatic),109.40,6252.70,57.154479,No,True,False,True,True,True,1,3181.050
60,0104-PPXDV,Male,0,Yes,No,1,1,1,Credit card (automatic),50.30,2878.55,57.227634,No,False,False,True,True,True,1,1464.425
61,0106-GHRQR,Male,0,No,No,2,1,0,Bank transfer (automatic),71.40,1212.10,16.976190,No,False,False,True,True,True,0,641.750
62,0106-UGRDO,Female,0,Yes,No,2,2,2,Electronic check,116.00,8182.85,70.541810,No,True,False,True,True,True,1,4149.425
63,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,19.85,19.85,1.000000,Yes,False,True,True,False,False,0,19.850
64,0107-YHINA,Male,0,No,Yes,2,2,0,Electronic check,99.75,99.75,1.000000,Yes,False,True,True,True,True,2,99.750
65,0111-KLBQG,Male,1,Yes,Yes,1,2,0,Mailed check,93.95,2861.45,30.457158,No,False,False,True,True,True,3,1477.700
66,0112-QAWRZ,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),90.80,1442.20,15.883260,No,False,False,True,True,True,3,766.500
67,0112-QWPNC,Male,0,Yes,No,2,1,1,Electronic check,84.35,4059.35,48.125074,Yes,False,True,True,True,True,1,2071.850
68,0114-IGABW,Female,0,Yes,No,0,1,2,Bank transfer (automatic),58.25,4145.90,71.174249,No,True,False,False,True,False,1,2102.075
69,0114-PEGZZ,Female,0,No,No,2,2,0,Electronic check,107.55,3645.50,33.895862,No,True,False,True,True,True,0,1876.525
70,0114-RSRRW,Female,0,Yes,No,1,0,0,Bank transfer (automatic),19.95,187.75,9.411028,No,True,False,True,False,False,1,103.850
71,0115-TFERT,Male,0,Yes,No,2,2,0,Electronic check,111.20,2317.10,20.837230,Yes,False,True,True,True,True,1,1214.150
72,0117-LFRMW,Male,0,Yes,Yes,0,1,0,Bank transfer (automatic),40.20,1448.80,36.039801,Yes,False,True,False,True,False,3,744.500
73,0118-JPNOY,Female,1,No,No,1,2,0,Credit card (automatic),85.80,2193.65,25.567016,No,True,False,True,True,True,0,1139.725
74,0121-SNYRK,Male,0,No,No,0,1,1,Mailed check,35.40,1748.90,49.403955,No,False,False,False,True,False,0,892.150
75,0122-OAHPZ,Female,0,No,No,2,2,0,Electronic check,73.85,511.25,6.922817,Yes,True,True,True,True,True,0,292.550
76,0123-CRBRT,Female,0,Yes,Yes,2,1,2,Mailed check,88.10,5526.75,62.732690,No,True,False,True,True,True,3,2807.425
77,0125-LZQXK,Male,0,No,No,1,2,0,Electronic check,101.35,1553.95,15.332511,Yes,False,True,True,True,True,0,827.650
78,0128-MKWSG,Female,0,No,Yes,0,1,0,Mailed check,45.80,1147.00,25.043668,No,True,False,False,True,False,2,596.400
79,0129-KPTWJ,Male,0,Yes,No,1,2,0,Electronic check,94.65,6747.35,71.287375,No,False,False,True,True,True,1,3421.000
80,0129-QMPDR,Male,0,Yes,Yes,1,0,1,Bank transfer (automatic),20.50,865.05,42.197561,No,False,False,True,False,False,3,442.775
81,0130-SXOUN,Male,0,No,No,2,2,0,Credit card (automatic),89.40,5976.90,66.855705,No,False,False,True,True,True,0,3033.150
82,0133-BMFZO,Female,0,No,No,1,2,0,Electronic check,86.25,181.65,2.106087,Yes,True,True,True,True,True,0,133.950
83,0134-XWXCE,Female,1,No,No,1,1,1,Bank transfer (automatic),74.85,3268.05,43.661323,No,True,False,True,True,True,0,1671.450
84,0135-NMXAP,Female,0,No,No,2,2,0,Bank transfer (automatic),89.75,1052.40,11.725905,Yes,True,True,True,True,True,0,571.075
85,0136-IFMYD,Male,1,Yes,No,2,2,2,Electronic check,109.95,7634.25,69.433834,No,False,False,True,True,True,1,3872.100
86,0137-OCGAB,Female,0,No,No,2,2,0,Mailed check,80.20,80.20,1.000000,Yes,True,True,True,True,True,0,80.200
87,0137-UDEUO,Female,0,No,No,1,0,0,Mailed check,19.85,63.75,3.211587,Yes,True,True,True,False,False,0,41.800
88,0139-IVFJG,Female,0,Yes,No,1,2,0,Electronic check,90.35,190.50,2.108467,No,True,False,True,True,True,1,140.425
89,0141-YEAYS,Female,1,No,No,2,2,0,Bank transfer (automatic),86.45,2401.05,27.773858,No,True,False,True,True,True,0,1243.750
90,0142-GVYSN,Male,0,No,No,1,0,0,Electronic check,20.30,511.25,25.184729,No,False,False,True,False,False,0,265.775
91,0147-ESWWR,Female,1,Yes,No,2,2,0,Electronic check,101.25,3949.15,39.003951,No,True,False,True,True,True,1,2025.200
92,0148-DCDOS,Male,0,No,No,2,2,0,Bank transfer (automatic),94.70,2362.10,24.942978,Yes,False,True,True,True,True,0,1228.400
93,0151-ONTOV,Female,0,No,No,1,2,0,Mailed check,70.90,70.90,1.000000,Yes,True,True,True,True,True,0,70.900
94,0156-FVPTA,Male,0,Yes,No,1,1,0,Electronic check,54.20,1152.70,21.267528,Yes,False,True,True,True,True,1,603.450
95,0164-APGRB,Female,0,No,No,2,2,2,Electronic check,114.90,8496.70,73.948651,No,True,False,True,True,True,0,4305.800
96,0164-XAIRP,Female,0,No,No,1,0,2,Bank transfer (automatic),19.55,470.20,24.051151,No,True,False,True,False,False,0,244.875
97,0168-XZKBB,Female,0,Yes,No,2,2,0,Electronic check,86.85,1564.40,18.012666,No,True,False,True,True,True,1,825.625
98,0174-QRVVY,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.35,1847.55,72.881657,No,False,False,True,False,False,3,936.450
99,0177-PXBAT,Male,1,Yes,No,2,2,0,Bank transfer (automatic),109.90,3694.70,33.618744,No,False,False,True,True,True,1,1902.300

-  Print the number of rows of your original dataframe

In [85]:
df_google_sheets.shape[0]

7049

-  Print the first 5 column names

In [86]:
df_google_sheets.columns[:6]

Index(['Unnamed: 0', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service'],
      dtype='object')

-  Print the column names that have a data type of object

In [87]:
object_columns = df_google_sheets.select_dtypes(include=['object']).columns
object_columns

# num_cols = df_google._get_numeric_data().columns
# num_cols

Index(['Unnamed: 0', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

-  Compute the range for each of the numeric variables.

In [88]:
max_int_dtype = df_google_sheets.select_dtypes(include ='int64').max()
min_int_dtype = df_google_sheets.select_dtypes(include ='int64').min()

print(f'Min range: {min_int_dtype} Max range: {max_int_dtype}')

Min range: is_senior_citizen    0
phone_service        0
internet_service     0
contract_type        0
pather_dependants    0
dtype: int64 Max range: is_senior_citizen    1
phone_service        2
internet_service     2
contract_type        2
pather_dependants    3
dtype: int64

## (6). Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [89]:
df_excel = pd.read_excel('~/Documents/codeup-data-science/classification-exercises/Table1_CustDetails.xlsx')
df_excel.head()

,,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,tenure,churn,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,pather_dependants,average_montly_charges
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,593.30,9.044207,No,True,False,True,True,True,3,329.450
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,542.40,9.055092,No,False,False,True,True,True,0,301.150
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,280.85,3.800406,Yes,False,True,True,True,True,0,177.375
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,1237.85,12.631122,Yes,False,True,True,True,True,1,667.925
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,267.40,3.187128,Yes,True,True,True,True,True,1,175.650

-  Assign the first 100 rows to a new dataframe, df_excel_sample

In [90]:
df_excel_sample = df_excel.head(100)
df_excel_sample.head()

,,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,tenure,churn,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,pather_dependants,average_montly_charges
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,593.30,9.044207,No,True,False,True,True,True,3,329.450
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,542.40,9.055092,No,False,False,True,True,True,0,301.150
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,280.85,3.800406,Yes,False,True,True,True,True,0,177.375
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,1237.85,12.631122,Yes,False,True,True,True,True,1,667.925
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,267.40,3.187128,Yes,True,True,True,True,True,1,175.650

-  Print the number of rows of your original dataframe

In [91]:
df_excel.shape[0]

7049

Print the first 5 column names

In [92]:
df_excel.columns[:6]

Index([' ', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service'],
      dtype='object')

-  Print the column names that have a data type of object

In [93]:
df_excel.select_dtypes(include=['object'])

                  gender partner dependents      payment_type churn
0     0002-ORFBO  Female     Yes        Yes      Mailed check    No
1     0003-MKNFE    Male      No         No      Mailed check    No
2     0004-TLHLJ    Male      No         No  Electronic check   Yes
3     0011-IGKFF    Male     Yes         No  Electronic check   Yes
4     0013-EXCHZ  Female     Yes         No      Mailed check   Yes
...          ...     ...     ...        ...               ...   ...
7044  9987-LUTYD  Female      No         No      Mailed check    No
7045  9992-RRAMN    Male     Yes         No  Electronic check   Yes
7046  9992-UJOEL    Male      No         No      Mailed check    No
7047  9993-LHIEB    Male     Yes        Yes      Mailed check    No
7048  9995-HOTOH    Male     Yes        Yes  Electronic check    No

[7049 rows x 6 columns]

-  Compute the range for each of the numeric variables.

In [94]:
df_excel.select_dtypes(include=['int64'])

      pather_dependants
0                     3
1                     0
2                     0
3                     1
4                     1
...                 ...
7044                  0
7045                  1
7046                  0
7047                  3
7048                  3

[7049 rows x 1 columns]

## (7). Read the data from this google sheet into a dataframe, df_google.


-  Print the first 3 rows

In [5]:
url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing'

export_url = url.replace('/edit?usp=','/export?format=csv#gid=')

df_google = pd.read_csv(export_url)
df_google

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Print the number of rows and columns

In [6]:
df_google.shape[0]

891

-  Print the column names

In [7]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Print the data type of each column

In [8]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

-  Print the summary statistics for each of the numeric variables

In [9]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
df_google.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

-  Print the unique values for each of your categorical variables

In [18]:
# Is object same as categorical data?

df_google.select_dtypes(include=['object']).nunique()

Name        891
Sex           2
Ticket      681
Cabin       147
Embarked      3
dtype: int64

In [22]:
# Numeric Columns

num_cols = df_google._get_numeric_data().columns
num_cols

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

## Make a new python module, acquire.py to hold the following data aquisition functions:

-  (1). Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [3]:
get_titanic_data()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

-  (2). Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [20]:
get_iris_data()

   species_id species_name
0           1       setosa
1           2   versicolor
2           3    virginica

-  (3). Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join all 4 tables together, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

In [2]:
get_telco_data().head()

,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,DSL,One year,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,DSL,Month-to-month,Mailed check
2,1,1,2,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Fiber optic,Month-to-month,Mailed check

-  (4).Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of telco.csv, titanic.csv, or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.