>#  Decision Tree Exercises
>

In [45]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import env
import acquire

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [46]:
# Call the data
titanic = acquire.get_titanic_data()
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

In [47]:
# Describe the data
titanic.describe()

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000
mean,445.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,0.602694
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,0.489615
min,0.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,222.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,0.000000
50%,445.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,1.000000
75%,667.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,1.000000
max,890.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000

### 1). What is your baseline prediction? What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.

In [51]:
titanic = titanic.rename(columns ={'class': 'pass_class'})
titanic.pass_class.value_counts()

Third     491
First     216
Second    184
Name: pass_class, dtype: int64

In [53]:
train , test = train_test_split(titanic)

In [55]:
train.shape , test.shape

((668, 13), (223, 13))

In [61]:
titanic.survived.value_counts()

0    549
1    342
Name: survived, dtype: int64

In [56]:

def train_validate_test_split(titanic, target, seed=123):
    '''
    This function takes in a dataframe, the name of the target variable
    (for stratification purposes), and an integer for a setting a seed
    and splits the data into train, validate and test. 
    Test is 20% of the original dataset, validate is .30*.80= 24% of the 
    original dataset, and train is .70*.80= 56% of the original dataset. 
    The function returns, in this order, train, validate and test dataframes. 
    '''
    train_validate, test = train_test_split(titanic, test_size=0.2)
    
    train, validate = train_test_split(train_validate, test_size=0.3)
    return train, validate, test

In [70]:
train, validate, test = train_validate_test_split(titanic, target = 'embark_town')

In [71]:
train.shape, validate.shape, test.shape

((498, 13), (214, 13), (179, 13))

In [75]:
train.survived['baseline_prediction'] = '0'

In [76]:
train_accuracy = (train.survived == train.embark_town).mean()
train_accuracy

0.0

In [77]:
X_train = train

### 2). Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

### 3). Evaluate your in-sample results using the model score, confusion matrix, and classification report.


### 4). Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

### 5). Run through steps 2-4 using a different max_depth value.

### 6). Which model performs better on your in-sample data?

### 7). Which model performs best on your out-of-sample data, the validate set?

># Random Forest Exercises
>

### 1). Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.

### 2). Evaluate your results using the model score, confusion matrix, and classification report.

### 3). Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

### 4). Run through steps increasing your min_samples_leaf and decreasing your max_depth.

### 5). What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?